#demineur_container {
    display: flex;
    flex-direction: column;
    margin: 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#demineur_canvas {
    border: solid 3px rgb(0, 0, 0);
    box-shadow: 10px 5px 5px rgb(179, 179, 179);
    background-color: rgb(196, 196, 196);
}

#demineur_info {
    width: 300px;
    min-height: 25px;
    text-align: center;
    color: rgb(0, 0, 0);
}

#restart-button {
    background-color: rgb(219, 219, 219);
    color: rgb(0, 0, 0);
    padding: 9px;
    border-radius: 15px;
}

#restart-button:hover {
    background-color: rgb(194, 194, 194);
    cursor: pointer;
}